.navbar{
    
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.icon{
    padding-left: 40px;
}
.link a{
    padding: 30px;
    text-decoration: none;   
}
.dd{
 position: relative;
 top: 3px;
 right: -3px;  
}
.contact{
    height: 35px;
    width: 120px;
    color: white;
    background: #D2153D;
    border: none;
    border-radius: 30px;
}